# Nixpacks configuration for Railway
# Ajuda a acelerar o build

[phases.setup]
nixPkgs = ['nodejs-20_x', 'npm-10_x']

[phases.install]
cmds = ['cd backend && npm ci --production=false']

[phases.build]
cmds = ['cd backend && npx prisma generate']

[start]
cmd = 'cd backend && npx prisma migrate deploy && npm start'

